<% if !@user %>
<h1>Login</h1>
<form method="POST" action="/sessions">
	<label for="name">Username:</label>
	<input type="text" name="name" placeholder="Your username">
	<label for="password">Password:</label>
	<input type="password" name="password" placeholder="Your Password">
	<button>Login</button>
</form>

<% else %>
<hi>Log out</hi>
<form method="POST" action="/sessions">
	<input type="hidden" name="_method" value="delete">
	<button>Log Out</button>
</form>

<% end %>